/* Estilo del título de las secciones. Se cambia color y se ajusta el espacio antes y después del título */
h2 {
    color: #ff671c;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* Se ajusta el formato y márgenes de la barra de navegación, para que no deje espacios y se pueda ajustar el logo */
.navbar {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:  #0d6efd;
}
/* Esta sección controla el lugar en donde iniciara la ubicación del logo */
.navbar-brand {
    margin-left: -10px;
    padding: 0px;
}
p.card-text {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0;
}

a.boton {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
/* Controla el tamaño del logotipo y sus margenes superiores e izquierdo */
.logo {
    margin-top: 0px;
    margin-left: 0px;
    width: 200px;
    height: 100%;
}
div.w-33 {
    width: 100%;
}
  
div.center {
    text-align: center;
}
a.nav-link {
    color: rgb(255, 255, 255);
}
